.main__content
  %section.chapter__container
    %h2.chapter__head お支払い方法
    = form_with model: @credit_card, url: '/users', class: 'chapter__container__inner' do |f|
      .form__main__container
        .form__content
          = f.label 'カード番号', class: 'payment__card'
          %span.require__form 必須
          = f.number_field :card_number, class: 'input__deafult', placeholder: '半角英数字のみ'
          .card__list
            .card__list__picture
        .form__content.top__margin
          = f.label '有効期限', class: 'payment__card'
          %span.require__form 必須
          .select__box.top__margin
            .select__box__half
              = f.date_select :expiration_date, class: "select__default", discard_day: true, discard_day: true
        .form__content.top__margin
          = f.label 'セキュリティコード'
          %span.require__form 必須
          = f.number_field :security_code, placeholder: 'カード背面4桁もしくは3桁の番号'
          .single__code
            .single__code__text
            %span.form__question ? 
            %span カードの裏面の番号とは？
        = f.submit '次へ進む', class: 'credit-card-submit'
  