.member_information__new_5
  %h3 支払い方法
.form-group__new_5
  = form_with model: @user, scope: 'user', url: '/users', class: 'card-register-form' do |f|
    = fields_for :credit_card do |card|
      .card-form-group
        = card.label 'カード番号', class: 'form-group__card'
        %span.form-group__required 必須
        %br
        = card.number_field :card_number, class: 'form-group__input', placeholder: '半角英数字のみ'
      .card-form-group.card-form-group__photo2
        =image_tag  "profiles/20.15.42.png", class: "photo2"
      .card-form-group
        = card.label '有効期限', class: 'form-group__expiration_date'
        %span.form-group__required--expiration_date 必須
        %br
        = card.date_select :expiration_date, class: "card-form-group__select-box"
        
      .card-form-group
        = card.label 'セキュリティコード', class: 'orm-group__security_code'
        %span.form-group__required--security_code 必須
        %br
        = card.number_field :security_code, class: 'form-group__input', placeholder: 'カード背面4桁もしくは3桁の番号'
    .card-form-group.card-form-group__submit
      = f.submit '次へ進む', class: 'card-form-group__next-form'
    