= render partial: "shared/top_page/header", locals: { user: @user }

.main__container.clearfix
  = render partial: 'shared/mypage/side_menu', locals: { user: @user }

  .main__content
    %section.chapter__container
      %h2.chapter__head 発送元・お届け先住所変更
      =form_with url: update_address_delivery_profile_path(@user), class: "chapter__container__inner" do |f|
        .form__main__container
          .form__content
            =f.label "お名前", class:"name" 
            %span.require__form 必須
            =f.text_field :family_name, class:"input__default", value:"#{@profile.family_name}"
            =f.text_field :first_name, class:"input__default", value:"#{@profile.first_name}"
          .form__content.name__kana
            =f.label "お名前カナ", class:"name" 
            %span.require__form 必須
            =f.text_field :family_name_kana, class:"input__default", value:"#{@profile.family_name_kana}"
            =f.text_field :first_name_kana, class:"input__default", value:"#{@profile.first_name_kana}"
          .form__content__default
            =f.label "郵便番号", class: "name"
            %span.require__form 必須
            =f.text_field :postal_code, class:"input__default", value:"#{@address.postal_code}"
          .form__content__prefecture
            =f.label "都道府県", class: "prefecture"
            %span.require__form 必須
            .select__content
              =f.collection_select :prefecture_id, Prefecture.all, :id, :name, class:"prefecture", selected: "#{@address.prefecture_id}"
              .down-arrow-icon
                = icon('fas', 'chevron-down')
          .form__content__default 
            =f.label "市区町村", class: "name"
            %span.require__form 必須
            =f.text_field :city, class:"input__default",value:"#{@address.city}"
          .form__content__default 
            =f.label "番地", class:"name"
            %span.require__form 必須
            =f.text_field :block, class:"input__default",value:"#{@address.block}"
          .form__content__default 
            =f.label "建物名", class:"name"
            %span.require__form-gray 任意
            =f.text_field :building, class:"input__default",value:"#{@address.building}"
          =f.submit "変更する", class:"red__btn "

    
= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"