.comment-box
  .comment-box__left-side
    = link_to '#', {class: 'user-box, clearfix'} do
      = image_tag 'post_show/post-img', size: "40x40", alt: "user-avatar", class: "user-box__user-avatar"
      %span.user-box__user-name
        mimio
      %span.user-box__seller
        出品者
  .comment-box__right-side
    .comment-body
      .comment-body__speech-bubble
        %p.comment-body__speech-bubble__text コメント失礼致します。購入を検討しているのですがお値下げは可能でしょうか？
        .comment-body__speech-bubble__bottom.clearfix
          .comment-time
            %i.far.fa-clock
            %span 19日前
          .invalid-products-report-btn
            = link_to '#', {class: 'invalid-products-report-btn__flag'} do
              %i.far.fa-flag
//以下仮置き----------------------------------------------------------------------------------------------------
.comment-box
  .comment-box__left-side
    = link_to '#', {class: 'user-box, clearfix'} do
      = image_tag 'post_show/post-img', size: "40x40", alt: "user-avatar", class: "user-box__user-avatar"
      %span.user-box__user-name
        mimio
      %span.user-box__seller
        出品者
  .comment-box__right-side
    .comment-body
      .comment-body__speech-bubble
        %p.comment-body__speech-bubble__text コメント失礼致します。購入を検討しているのですがお値下げは可能でしょうか？
        .comment-body__speech-bubble__bottom.clearfix
          .comment-time
            %i.far.fa-clock
            %span 19日前
          .invalid-products-report-btn
            = link_to '#', {class: 'invalid-products-report-btn__flag'} do
              %i.far.fa-flag
.comment-box
  .comment-box__left-side
    = link_to '#', {class: 'user-box, clearfix'} do
      = image_tag 'post_show/post-img', size: "40x40", alt: "user-avatar", class: "user-box__user-avatar"
      %span.user-box__user-name
        mimio
      %span.user-box__seller
        出品者
  .comment-box__right-side
    .comment-body
      .comment-body__speech-bubble
        %p.comment-body__speech-bubble__text コメント失礼致します。購入を検討しているのですがお値下げは可能でしょうか？
        .comment-body__speech-bubble__bottom.clearfix
          .comment-time
            %i.far.fa-clock
            %span 19日前
          .invalid-products-report-btn
            = link_to '#', {class: 'invalid-products-report-btn__flag'} do
              %i.far.fa-flag