%table.post-detail-table
  %tbody
    %tr
      %th 出品者
      %td
        %p.user-nickname
          = link_to '#' do
            = post.user.nickname
        .evaluation
          %i.fas.fa-laugh.ev-good
          %span.ev-count 402
        .evaluation
          %i.fas.fa-meh.ev-normal
          %span.ev-count 3
        .evaluation
          %i.fas.fa-frown.ev-bad
          %span.ev-count 0
    %tr
      %th カテゴリー
      %td.td-category
        %p.first-category
          = link_to '#' do
            = FirstCategory.find(post.first_category_id).name
        %p.second-category
          = link_to '#' do
            %i.fas.fa-chevron-right
            %span
              = SecondCategory.find(post.second_category_id).name
        - if post.third_category_id.present?
          %p.third-category
            = link_to '#' do
              %i.fas.fa-chevron-right
              %span
                = post.third_category_id
    %tr
      %th ブランド
      %td
        - if post.brand_name.present?
          = link_to '#' do
            = post.brand_name
    %tr
      %th 商品の状態
      %td #{post.product_condition_i18n}
    %tr
      %th 配送料の負担
      %td #{post.delivery_fee_i18n}
    %tr
      %th 配送の方法
      %td #{post.delivery_method_i18n}
    %tr
      %th 配送元地域
      %td
        = link_to '#' do
          = Prefecture.find(post.delivery_former_area).name
    %tr
      %th 配送日の目安
      %td #{post.delivery_date_i18n}