.backscreen
  = render partial: 'shared/user_registration/form-header'

  .how_registration_select
    %p.how_registration_select__title
      新規会員登録
    .how_registration_select__box
      = link_to new_profile_path, class: "how_registration_select__box__mail" do
        %button{type: "submit", class: "how_registration_select__box__mailbutton"}
          .btn-text
            %i.fa.fa-envelope
            %p メールアドレスで登録
      %br
      = link_to user_facebook_omniauth_authorize_path, class: "how_registration_select__fbook" do
        %button{type: "submit", class: "how_registration_select__box__fbookbutton"}
          = image_tag "profiles/facebook_logo.jpg", class: "how_registration_select__box__fbookbutton__logo"
          Facebookで登録
      %br
      = link_to user_google_oauth2_omniauth_authorize_path, class: "how_registration_select__box__google" do
        %button{type: "submit", class: "how_registration_select__box__googlebutton"}
          =image_tag "profiles/Google_logo.jpg", class: "how_registration_select__box__googlebutton__logo"
          Googleで登録

  = render partial: 'shared/user_registration/form-footer'
