.header-pc
  .header-pc-inner
    .header-pc-inner__top
      .header-pc-inner__top.logo
        = link_to root_path do
          = image_tag asset_path('top_page/mercari_logo_horizontal.png') ,size: "170x50"
      .header-pc-inner__top.search
        = form_with  url: root_path, method: :get,local: true, class: "header-pc-inner__top-search form" do |form|
          = form.text_field :text, class: "header-pc-inner__top-search text", placeholder: "何かお探しですか?"
          = button_tag type: 'submit', class: 'header-pc-inner__top-search submit' do
            %i.fa.fa-search.fa-lg
    .header-pc-inner__bottom
      %ul.search-menu
        %li.search-menu__list
          = link_to root_path do
            %i.fa.fa-list
            カテゴリーを探す
        %li.search-menu__list
          = link_to root_path do
            %i.fa.fa-bars
            ブランドから探す
      %ul.user-information
        - if user_signed_in?
          %li.user-information__list-login
            = link_to root_path do
              %i.far.fa-heart
              %span.list-name お気に入り
          %li.user-information__list-login
            = link_to root_path do
              %i.far.fa-bell
              %span.list-name お知らせ
          %li.user-information__list-login
            = link_to root_path do
              %i.fas.fa-check
              %span.list-name やることリスト
          %li.user-information__list-login
            = link_to mypage_path(current_user) do
              = image_tag @user.avatar.url, class: "avater-image", size: "30x30" ,alt: asset_path("profiles/mypageicon.jpeg")
              %span.list-name マイページ
        - else
          %li.user-information__list-nologin
            = link_to new_user_registration_path, class: "list-name-red" do
              新規会員登録
          %li.user-information__list-nologin
            = link_to new_user_session_path, class: "list-name-blue" do
              ログイン