- @posts.each do |post|
  .item-box
    %a{href: "/posts/#{post.id}"}
      .item-box__image
        - if post.images.present?
          = render 'shared/status_logo', {post: post}
          = image_tag post.images.first.image.url, size: "213x213"
          
      .item-box__boby
        = post.product_name
        .item-detail
          .item-detail__price ¥#{post.product_price.to_s(:delimited, delimiter: ',')}
          .item-detail__heart
            %i.far.fa-heart
            %span 3
        %p.item-tax (税込)

