.category__post__content
  %h3.post__container__sub__head 商品の詳細
  .post__form__box
    .form__content#category-contents
      =f.label :first_category_id, "カテゴリー"
      %span.require__form 必須
      .select__box
        = f.collection_select :first_category_id, @parents, :id, :name, {prompt: "---"}, {class: "select__box__format"}
        .drop-down-icon
          = icon('fas', 'chevron-down')
      = render partial: 'shared/posts/form/error', locals: { post: post, key: "first_category_id"}
      - if post.first_category_id.present?
        .select__box
          = f.collection_select :second_category_id, @children, :id, :name, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
        = render partial: 'shared/posts/form/error', locals: { post: post, key: "second_category_id"}
        .select__box
          = f.collection_select :third_category_id, @grandchildren, :id, :name, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
    .form__content__deafult#size-content
      - if post.product_size.present?
        =f.label :product_size, "サイズ"
        %span.require__form 必須
        .select__box
          = f.select :product_size, Post.product_sizes_i18n.invert, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
        = render partial: 'shared/posts/form/error', locals: { post: post, key: "product_size"}
    .form__content__deafult#brand-content
      - if post.product_size.present?
        =f.label :product_brand_name, "ブランド"
        %span.any__form 任意
        .select__box
          %input#brand_new.select__box__format{name: "post[brand_name]", placeholder: "例)シャネル", type: "text"}
    .form__content__deafult
      =f.label :product_condition, "商品の状態"
      %span.require__form 必須
      %div
        .select__box
          = f.select :product_condition, Post.product_conditions_i18n.invert, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
        = render partial: 'shared/posts/form/error', locals: { post: post, key: "product_condition"}