.delivery__post__content
  %h3.post__container__sub__head 
    %span 配送について
    %a.question__form ?
  .post__form__box
    .form__content
      =f.label :delivery_fee, "配送料の負担"
      %span.require__form 必須
      %div
        .select__box
          = f.select :delivery_fee, Post.delivery_fees_i18n.invert, {:selected=>Post.delivery_dates[@post.delivery_date], prompt: "---"} ,class: "select__box__format"
          .drop-down-icon
            = icon('fas', 'chevron-down')
    .form__content__default
      =f.label :delivery_former_area, "発送元の地域"
      %span.require__form 必須
      %div
        .select__box
          = f.collection_select :delivery_former_area, Prefecture.all, :id, :name, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
    .form__content__default
      =f.label :delivery_date, "発送までの日数"
      %span.require__form 必須
      %div
        .select__box
          = f.select :delivery_date, Post.delivery_dates_i18n.invert, {:selected=>Post.delivery_dates[@post.delivery_date], prompt: "---"}, class: "select__box__format"
          .drop-down-icon
            = icon('fas', 'chevron-down')