.category__post__content.clearfix
  %h3.post__container__sub__head 商品の詳細
  .post__form__box
    .form__content
      %label
        カテゴリー
        %span.require__form 必須
      %div
        .select__box
          %select.select__box__format
            %option ---
            =@first_categories.each do |fir|
              %option
                =fir.name
          .drop-down-icon
            = icon('fas', 'chevron-down')
        .select__box
          %select.select__box__format
            %option ---
            =@second_categories.each do |sec|
              %option
                =sec.name
          .drop-down-icon
            = icon('fas', 'chevron-down')
        .select__box
          %select.select__box__format
            %option ---
          .drop-down-icon
            = icon('fas', 'chevron-down')
    .form__content__deafult
      %label
        サイズ
        %span.require__form 必須
      %div
        .select__box
          %select.select__box__format
            %option ---
          .drop-down-icon
            = icon('fas', 'chevron-down')
    .form__content__deafult
      %label
        ブランド
        %span.any__form 任意
      %div
        .select__box
          %input.select__box__format{placeholder: '例)シャネル'}
    .form__content__deafult
      %label 商品の状態
      %span.require__form 必須
      %div
        .select__box
          %select.select__box__format
            %option --- 
            %option 新品、未使用
            %option 未使用に近い
            %option 目立った傷や汚れなし
            %option やや傷や汚れあり
            %option 傷や汚れあり
            %option 全体的に状態が悪い
          .drop-down-icon
            = icon('fas', 'chevron-down')