.category__post__content
  %h3.post__container__sub__head 商品の詳細
  .post__form__box
    .form__content#category-contents
      =f.label :first_category_id, "カテゴリー"
      %span.require__form 必須
      .select__box
        = f.collection_select :first_category_id, FirstCategory.all, :id, :name, {prompt: "---"}, {class: "select__box__format"}
        .drop-down-icon
          = icon('fas', 'chevron-down')
      = render partial: 'shared/posts_new/error', locals: { post: @post, attr: :first_category_id}
      = render partial: 'shared/posts_new/error', locals: { post: @post, attr: :second_category_id}
    .form__content__deafult#size-content
    .form__content__deafult#brand-content
    .form__content__deafult
      =f.label :product_condition, "商品の状態"
      %span.require__form 必須
      %div
        .select__box
          = f.select :product_condition, Post.product_conditions_i18n.invert, {prompt: "---"}, {class: "select__box__format"}
          .drop-down-icon
            = icon('fas', 'chevron-down')
        = render partial: 'shared/posts_new/error', locals: { post: @post, attr: :product_condition}