= render "shared/top_page/header"

.main__container.clearfix
  = render partial: 'shared/mypage/side_menu'

  .main__content
    %section.chapter__container
      %h2.chapter__head クレジットカード情報入力
      %form.chapter__container__inner
        .form__main__container
          .form__content
            %label.payment__card カード番号
            %span.require__form 必須
            %input.input__deafult{placeholder: "半角英数字のみ"}
            .card__list
              .card__list__picture
          .form__content.top__margin
            %label.payment__card 有効期限
            %span.require__form 必須
            .select__box.top__margin
              .select__box__half
                %select.select__default
                %i
                  = icon('fas', 'chevron-down')
                %span 月
              .select__box__half
                .icon
                %select.select__default
                %i
                  = icon('fas', 'chevron-down')
                %span  年
          .form__content.top__margin
            %label セキュリティーコード
            %span.require__form 必須
            %input{placeholder: "カード背面4桁もしくは3桁の番号"}
            .single__code
              .single__code__text
              %span.form__question ? 
              %span カードの裏面の番号とは？
          %button.top__margin 追加する

= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"