= render "shared/top_page/header"
- breadcrumb :email_password
.bread
  = breadcrumbs separator: " &rsaquo; "

.main__container.clearfix
  = render partial: 'shared/mypage/side_menu'

  .main__content
    %section.chapter__container
      %h2.chapter__head メール/パスワード 
      %form.chapter__container__inner
        .form__main__container
          = form_with url: '#', local: true do |f|
            .form__content__default  
            
              = f.label 'メールアドレス'
              = f.text_field :email,placeholder: @user.email, class: "email" 
              .form__content__default--text
                メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
            .form__content__default
              = f.label '現在のパスワード' 
              = f.password_field :password,placeholder: "6文字以上", class: "email" 
           
            .form__content__default 
              = f.label '新しいパスワード' 
              = f.password_field :password,placeholder: "6文字以上", class: "email" 
          
            .form__content__default 
              = f.label '新しいパスワード確認' 
              = f.password_field :password,placeholder: "6文字以上", class: "email" 
              .form__content__default--text
                パスワードを設定したい場合は上記をすべて入力してください。（設定しない場合は空欄）
          %button.red__btn 変更する
         


    
= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"