= render partial: "shared/top_page/header", locals: { user: @user }
- breadcrumb :mypages
%p.bread
  = breadcrumbs separator: "&rsaquo;"

.main-body
  = render partial: 'shared/mypage/side_menu', locals: { user: @user }

  .mypage-main
    .mypage-main-top
      .user-header
        = link_to '#' do
          .user-info-box
            - if @user.avatar.present?
              .user-info-box__thumbnail
                = image_tag @user.avatar.url, class: "figure", size: "60x60" ,alt: asset_path("mypage/mypageicon.jpg")
            - else
              .user-info-box__thumbnail
                = image_tag 'mypage/user-icon.png', size: '60x60', alt: 'thumbnail'
            .user-info-box__user-name
              = @user.nickname
            .user-info-box__short-info
              .user-evaluation
                %p.user-evaluation__text 評価
                %p.user-evaluation__num 0
              .user-post-count
                %p.user-post-count__text 出品数
                %p.user-post-count__num 0

      .tabs
        %ul.tabs-lists
          %li.tabs-list.tabs-list__news
            = link_to '#' do
              %h3.tabs-list__name お知らせ
          %li.tabs-list.tabs-list__to-do-list 
            = link_to '#' do
              %h3.tabs-list__name やることリスト
      .tabs-contents
        -# お知らせ一覧。タブ切り替えで表示・非表示を切り替え。マイページにアクセスした段階ではこの一覧が表示されている。
        %ul.contents-lists
          -# 最大表示件数 5件
          %li.contents-list
            = link_to '#' do
              .contents-list-thumbnail
                = image_tag 'mypage/mercari-thumbnail.png', size: '48x48', alt: 'mercari-icon'
              .contents-list-main
                .contents-list-main__top
                  事務局から個別メッセージ「ログイン通知」
                .contents-list-main__bottom
                  %ul.bottom-lists
                    %li.time-icon
                      = icon('far', 'clock')
                    %li.time-ago
                      2時間前
              .list-arrow-icon
                = icon('fas', 'chevron-right')
          %li.contents-list
            = link_to '#' do
              .contents-list-thumbnail
                = image_tag 'mypage/mercari-thumbnail.png', size: '48x48', alt: 'mercari-icon'
              .contents-list-main
                .contents-list-main__top
                  事務局から個別メッセージ「新商品が昨日より10万品以上増えてます！　欲しかった物が見つかるかも♪」
                .contents-list-main__bottom
                  %ul.bottom-lists
                    %li.time-icon
                      = icon('far', 'clock')
                    %li.time-ago
                      1日前
              .list-arrow-icon
                = icon('fas', 'chevron-right')
          %li.move-list-link
            = link_to '#' do
              .move-list-link__box.move-list-link__box--news
                一覧を見る

        -# やることリスト一覧。タブ切り替えで表示・非表示を切り替え
        -# %ul.contents-lists
        -#   -# 最大表示件数 5件
        -#   %li.contents-list
        -#     = link_to '#' do
        -#       .contents-list-thumbnail
        -#         = image_tag 'mypage/mercari-thumbnail.png', size: '48x48', alt: 'mercari-icon'
        -#       .contents-list-main
        -#         やること
        -#       .list-arrow-icon
        -#         = icon('fas', 'chevron-right')
        -#   %li.move-list-link
        -#     = link_to '#' do
        -#       .move-list-link__box.move-list-link__box--to-do-list
        -#         一覧を見る

        -# やることリストがない場合に表示
        -# %ul.no-content-list
        -#   .no-content-box
        -#     %li.no-content-box__message.no-content-box__message--to-do 現在やることリストはありません

    .mypage-main-bottom
      .bought-product-header
        %p 購入した商品
      .tabs
        %ul.tabs-lists
          %li.tabs-list.tabs-list__in-transaction
            = link_to '#' do
              %h3.tabs-list__name 取引中
          %li.tabs-list.tabs-list__past-trading
            = link_to '#' do
              %h3.tabs-list__name 過去の取引
      .tabs-contents
        -# 取引中の商品一覧。タブ切り替えで表示・非表示を切り替え。マイページにアクセスした段階ではこの一覧が表示されている。
        - if @products.present?
          - @products.each do |product|
            - if product.post.product_status == "completed_transaction"
              - image = get_image_url(product.post_id)
              %ul.contents-lists
                -# 最大表示件数 5件
                %li.contents-list
                  = link_to '#' do
                    .contents-list-
                      = image_tag 'mypage/user-transaction.jpg', size: '48x48', alt: 'product-image'
                    .contents-list-main
                      .contents-list-main__top
                        = "「#{product.post.product_name}」の取引中です。"
                    .list-arrow-icon
                      = icon('fas', 'chevron-right')
                %li.move-list-link
                  = link_to '#' do
                    .move-list-link__box.move-list-link__box--in-transaction
                      一覧を見る
        - else
          %ul.no-content-list
            .no-content-box
              %li.no-content-box__message.no-content-box__message--in-transaction 取引中の商品がありません

        -# 過去の取引一覧。タブ切り替えで表示非表示を切り替え。
        -# %ul.contents-lists
        -#   -# 最大表示件数 5件
        -#   %li.contents-list
        -#     = link_to '#' do
        -#       .contents-list-thumbnail
        -#         = image_tag 'mypage/user-transaction.jpg', size: '48x48', alt: 'product-icon'
        -#       .contents-list-main
        -#         .contents-list-main__top
        -#           「xxxxxxxxx」を購入しました。取引が完了しました
        -#         .contents-list-main__bottom.contents-list-main__bottom--complete-trading
        -#           取引完了
        -#       .list-arrow-icon
        -#         = icon('fas', 'chevron-right')
        -#   %li.move-list-link
        -#     = link_to '#' do
        -#       .move-list-link__box.move-list-link__box--past-trading
        -#         一覧を見る

        -# 過去の取引がない場合に表示
        -# %ul.no-content-list
        -#   .no-content-box
        -#     %li.no-content-box__message.no-content-box__message--past-trading 過去の取引がありません

= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"
