= render "shared/top_page/header"
-# - breadcrumb :logout
-# = breadcrumbs separator: " &rsaquo; "

.main-body
  = render partial: 'shared/mypage/side_menu'

  .mypage-main
    .mypage-main-top.logout
      .logout__box
        -# ログアウト後はトップページへリダイレクト
        = link_to destroy_user_session_path, method: :delete do
          = button_tag 'ログアウト', class: 'logout-btn'

= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"
