= render "shared/top_page/header" , locals: {user: @user}
- breadcrumb :profile
.bread
  = breadcrumbs separator: " &rsaquo; "
  = render 'shared/flash_messages'

.main__container.clearfix
  = render partial: 'shared/mypage/side_menu' , locals: {user: @user}

  .main__content
    %section.chapter__container
      %h2.chapter__head プロフィール
      = form_with url: profile_update_profile_path(current_user) , local: true do |f|
        .profile__icon
          = f.file_field :avatar, class: "hidden_avator"
          = f.label :avatar do
            - if @user.avatar.present?
              = image_tag @user.avatar.url, class: "figure", size: "60x60" ,alt: asset_path("profiles/mypageicon.jpeg")
            -else
              = image_tag asset_path("profiles/mypageicon.jpeg"), class: "figure" , size: "60x60" 
          = f.text_field :nickname, class: "input__deafult", value: "#{@user.nickname}"
        .profile__content
          - if @user.profile.profile.present?
            = f.text_area :profile,  value: "#{@user.profile.profile}" , class: "content__deafult"
          - else 
            = f.text_area :profile,  placeholder: "例）こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪" , class: "content__deafult" 
          = f.submit "変更する" , class: "btn__deafult"

    
= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"