.backscreen
  .top_logo
    %a{href: "/", class: "top_logo__link"}
      =image_tag "profiles/mercari_logo.jpg", class: "top_logo__link__image"
  .edit_registration
    .edit_registration__first
      %a{href: "/", class: "edit_registration__first__signup"}
        アカウントをお持ちでない方はこちら
        %button{type: "submit", class: "edit_registration__first__signupbutton"}
          新規会員登録
    .edit_registration__second
      = link_to user_facebook_omniauth_authorize_path, class: "edit_registration__second__f" do
        %button{type: "submit", class: "edit_registration__second__f_loginbutton"}
          =image_tag "profiles/facebook_logo.jpg", class: "edit_registration__second__f_loginbutton__logo"
          .edit_registration__second__f_loginbutton__title
            Facebookでログイン
      %br
      = link_to user_google_oauth2_omniauth_authorize_path, class: "edit_registration__second__g" do
        %button{type: "submit", class: "edit_registration__second__g_loginbutton"}
          =image_tag "profiles/Google_logo.jpg", class: "edit_registration__second__g_loginbutton__logo"
          .edit_registration__second__f_loginbutton__title
            Googleでログイン
      = form_with model: @user,scope: 'user', url: user_session_path, id: 'new_user', class: 'new_user login-form', local: true do |f|
        = f.email_field :email ,placeholder: "メールアドレス", class: "edit_registration__second__email", autofocus: true, autocomplete: "email"
        %br
        = f.password_field :password, placeholder: "パスワード", class: "edit_registration__second__password", autocomplete: "current-password"
        %br
        .form-group__checkbox.form-group__checkbox--login
          .form-group__checkbox__robot
            %input{name: "robot", type: "checkbox", value: "1"}>/
            .form-group__checkbox__notrobot 
              私はロボットでは
              %br ありません
            =image_tag  "profiles/18.18.00.png", class: "photo"
            %br
          .form-group__checkbox__link
            %a{href: ""} プライバシー
            %p ・
            %a{href: ""} 利用規約
        = f.submit "ログイン", class: "input_user_registration__second__subbutton"
        %br
        %a{href: "/", class: "edit_registration__second__fogetpass"}
          パスワードをお忘れの方
  
  .caution
    %a{href: "/", class: "caution__article"}
      プライバシーポリシー
    %a{href: "/", class: "caution__article"}
      メルカリ利用規約
    %a{href: "/", class: "caution__article"}
      特定商取引に関する表記

  .end_logo   
    %a{href: "/"}
      =image_tag "profiles/end_logo.jpg", class: "end_image"
