.backscreen
  .top_logo
    %a{href: "/", class: "top_logo__link"}
      =image_tag "profiles/mercari_logo.jpg", class: "top_logo__link__image"
  .edit_registration
    .edit_registration__first
      アカウントをお持ちでない方はこちら
      = link_to new_user_registration_path, class: 'edit_registration__first__signup' do
        %button{type: "submit", class: "edit_registration__first__signupbutton"}
          新規会員登録
    .edit_registration__second
      = link_to user_facebook_omniauth_authorize_path, class: "edit_registration__second__f" do
        %button{type: "submit", class: "edit_registration__second__f_loginbutton"}
          =image_tag "profiles/facebook_logo.jpg", class: "edit_registration__second__f_loginbutton__logo"
          .edit_registration__second__f_loginbutton__title
            Facebookでログイン
      %br
      = link_to user_google_oauth2_omniauth_authorize_path, class: "edit_registration__second__g" do
        %button{type: "submit", class: "edit_registration__second__g_loginbutton"}
          =image_tag "profiles/Google_logo.jpg", class: "edit_registration__second__g_loginbutton__logo"
          .edit_registration__second__f_loginbutton__title
            Googleでログイン
      = form_with model: @user,scope: 'user', url: user_session_path, id: 'new_user', class: 'new_user login-form', local: true do |f|
        = render partial: 'devise/shared/login_error'
        = f.email_field :email ,placeholder: "メールアドレス", class: "edit_registration__second__email", autofocus: true, autocomplete: "email"
        = render partial: 'devise/shared/login_blank_error', locals: { key: "email" }
        %br
        = f.password_field :password, placeholder: "パスワード", class: "edit_registration__second__password", autocomplete: "current-password"
        = render partial: 'devise/shared/login_blank_error', locals: { key: "password" }
        %br
        - if Rails.env == "production"
        .form-group-checkbox
          =recaptcha_tags
          = render partial: 'devise/shared/login_check_box_error'
        = f.submit "ログイン", class: "input_user_registration__second__subbutton"
        %br
        %a{href: "/", class: "edit_registration__second__fogetpass"}
          パスワードをお忘れの方
  
  .caution
    %a{href: "/", class: "caution__article"}
      プライバシーポリシー
    %a{href: "/", class: "caution__article"}
      メルカリ利用規約
    %a{href: "/", class: "caution__article"}
      特定商取引に関する表記

  .end_logo   
    %a{href: "/"}
      =image_tag "profiles/end_logo.jpg", class: "end_image"
