= render 'shared/top_page/header'
-# - breadcrumb :show_post, @post
-# = breadcrumbs separator: " &rsaquo; "
-# カラムを入力してから表示するため

.post-container
  .post-content
    .post-content__title-box
      %h1.product-name
        = @post.product_name
    .post-content__upper-box.clearfix
      .post-content__upper-box__left-side
        .img-box
          .img-box__current-img
            = image_tag @image.image.url size: "300x300", alt: "post-img"
          .img-box__images.clearfix
            = render partial: 'shared/posts/show/images', collection: @post.images, as: 'image'
      .post-content__upper-box__right-side
        = render 'shared/posts/show/table', {post: @post, first: @first}
    .post-content__price-box
      %span.product-price ¥#{@post.product_price}
      %span.tax (税込)
      %span.delivery-fee
        = @post.delivery_fee_i18n
    .post-content__order-box
      = link_to '購入画面に進む', '#', {class: "order-btn"}
    .post-content__description-box
      %p.prodict-description
        = @post.product_description
    .post-content__lower-box.clearfix
      .post-content__lower-box__left-side
        %ul
          %li.post-btn
            %button.good-btn
              %i.far.fa-heart.good-btn__heart
              %span いいね!
              %span.good-btn__count 5
          %li.post-btn.post-btn--right
            = link_to '#', {class: 'invalid-products-report-btn'} do
              %i.far.fa-flag.invalid-products-report-btn__flag
              %span 不適切な商品の報告
      .post-content__lower-box__right-side
        = link_to '#', {class: 'approach-to-safety-link'} do
          %i.fas.fa-unlock-alt.approach-to-safety-link__lock
          %span あんしん・あんぜんへの取り組み
  - if @post.user_id == current_user.id
    .edit-content
      = link_to '商品の編集', edit_post_path(@post), class: 'edit-btn'
      %p or
      = form_for(@post) do |f|
        = f.text_field :product_status, value: 'stopping_listing', class: 'hidden-field'
        = f.submit '出品を一旦停止する', class: 'stopping-listing-btn'
      = link_to 'この商品を削除する', post_path(@post), method: :delete, class: 'destroy-btn'
  .comment-content
    .comment-content__comments-container.clearfix
      = render 'shared/posts/show/comments'
    %p.comment-content__alert-box
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form.comment-content__form-box
      %textarea.comment-content__form-box__text
      %button.comment-content__form-box__submit{type: 'submit'} コメントする
  %ul.post-links.clearfix
    %li.post-links__prev-post-link
      = link_to '#' do
        %i.fas.fa-chevron-left
        %span 【片付け読本】　メグメグのシンプルかわいい片づけ生活
    %li.post-links__next-post-link
      = link_to '#' do
        %span コサージュ アレンジメント
        %i.fas.fa-chevron-right
  .sns-links
    %ul.sns-links__link-box
      %li.sns-link
        = link_to '#' do
          %i.fab.fa-facebook-square.fa-3x.sns-link--fb
      %li.sns-link
        = link_to '#' do
          %i.fab.fa-twitter-square.fa-3x.sns-link--twitter
      %li.sns-link
        = link_to '#' do
          %i.fab.fa-pinterest-square.fa-3x.sns-link--pinterest
  .other-posts
    %h2.other-posts__link
      = link_to '#' do
        #{@post.user.nickname}さんのその他の商品
    .post-boxes
      = render partial: 'shared/posts/show/other-posts', collection: @other_posts, as: 'other_post'
  .other-posts
    %h2.other-posts__link
      = link_to 'シャネルのバッグその他の商品' ,'#'
    .post-boxes
      = render partial: 'shared/posts/show/other-posts', collection: @other_posts, as: 'other_post'
= render 'shared/top_page/app-banner'
= render 'shared/top_page/footer'

