= render 'shared/top_page/header'
- breadcrumb :show_post, @post
.bread
  = breadcrumbs separator: " &rsaquo; "
  = render 'shared/flash_messages'
.post-container
  .post-content
    .post-content__title-box
      %h1.product-name
        = @post.product_name
    .post-content__upper-box.clearfix
      .post-content__upper-box__left-side
        - if @post.images.present?
          .img-box
            .img-box__current-img
              = render 'shared/status_logo', {post: @post}
              = image_tag @post.images.first.image.url size: "300x300", alt: "post-img"
            .img-box__images.clearfix
              = render partial: 'shared/posts/show/images', collection: @post.images, as: 'image'
      .post-content__upper-box__right-side
        = render 'shared/posts/show/table', {post: @post, first: @first}
    .post-content__price-box
      %span.product-price ¥#{@post.product_price}
      %span.tax (税込)
      %span.delivery-fee
        = @post.delivery_fee_i18n
    = render 'shared/posts/show/buy_button', {post: @post}
    .post-content__description-box
      %p.prodict-description
        = @post.product_description
    .post-content__lower-box.clearfix
      .post-content__lower-box__left-side
        %ul
          %li.post-btn
            %button.good-btn
              %i.far.fa-heart.good-btn__heart
              %span いいね!
              %span.good-btn__count 5
          %li.post-btn.post-btn--right
            = link_to '#', {class: 'invalid-products-report-btn'} do
              %i.far.fa-flag.invalid-products-report-btn__flag
              %span 不適切な商品の報告
      .post-content__lower-box__right-side
        = link_to '#', {class: 'approach-to-safety-link'} do
          %i.fas.fa-unlock-alt.approach-to-safety-link__lock
          %span あんしん・あんぜんへの取り組み
  = render 'shared/posts/show/edit-box', {post: @post}
  .comment-content
    %p.comment-content__alert-box
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form.comment-content__form-box
      %textarea.comment-content__form-box__text
      %button.comment-content__form-box__submit{type: 'submit'} コメントする
  %ul.post-links.clearfix
    %li.post-links__prev-post-link
      - if @post.next.present?
        = link_to post_path(@post.next) do
          %i.fas.fa-chevron-left
          %span
            = @post.next.product_name
    %li.post-links__next-post-link 
      - if @post.previous.present?
        = link_to post_path(@post.previous) do
          %span
            = @post.previous.product_name
          %i.fas.fa-chevron-right
  = render 'shared/posts/show/sns'
  - if @other_posts.present?
    .other-posts
      %h2.other-posts__link
        = link_to "#{@post.user.nickname}さんのその他の商品", '#'
      .post-boxes
        = render partial: 'shared/posts/show/other-posts', collection: @other_posts, as: 'other_post'
  - if @other_category_posts.present?
    .other-posts
      %h2.other-posts__link
        - if @post.brand_name.present?
          = link_to "#{@post.brand_name}の#{Category.find(@post.third_category_id).name}その他の商品", '#'
        - else
          = link_to "#{Category.find(@post.third_category_id).name}(#{Category.find(@post.first_category_id).name})その他の商品", '#'
      .post-boxes
        = render partial: 'shared/posts/show/other-posts', collection: @other_category_posts, as: 'other_post'
= render 'shared/top_page/app-banner'
= render 'shared/top_page/footer'

