= render "shared/top_page/header"
- breadcrumb :telephone_number
= breadcrumbs separator: " &rsaquo; "

.category__index
  .category__main
    .category__main__head
      %h2 カテゴリー一覧
    .category__main__nav.clearfix
      %a.category__nav
        .category__name レディース
      %a.category__nav
        .category__name メンズ
      %a.category__nav
        .category__name ベビー・キッズ
      %a.category__nav
        .category__name インテリア・住まい・小物
    .category__main__box
      .category__main__box__head レディース
      .category__main__box__container
        %p すべて
        .category__main__box__content
        %h4 トップス
        .category__main__box__list.clearfix
          .category__main__box__name
            %p
              %a すべて
        
= render "shared/top_page/sell-fix-logo"
= render "shared/top_page/app-banner"
= render "shared/top_page/footer"